/* .color-title{
    margin-top: 1rem;
    
}

.color-label-container{
    margin-top:0rem;
} */

.all{
    background: linear-gradient(blue,crimson);
}

.checkmark2{
    position: absolute;
    top:0;
    left:0;
    height: 20px;
    width: 20px;
    background-color: black;
    color: aqua;
    border-radius: 50%;

}